doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title User Details
        link(rel='icon', href='/favicon.ico')
        if theme === 'dark'
            link(rel='stylesheet', href='/styles/dark-theme.css')
        else
            link(rel='stylesheet', href='/styles/light-theme.css')
    body
        h1 User Details
        p Name: #{user.name}
        p Email: #{user.email}
        //- Додаємо кнопки для вибору теми
        a(href="/set-theme/light") Light Theme
        a(href="/set-theme/dark") Dark Theme